spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/orderly1
    username: postgres
    password: root
    initialization-mode: always
    initialize: true
  mail:
    default-encoding: UTF-8
    host: smtp.gmail.com
    username: projectsheriff@gmail.com
    password: 46636481356f
    port: 587
    protocol: smtp
    test-connection: false
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
          ssl:
            trust: smtp.gmail.com
  main:
    log-startup-info: false
  jpa:
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: none